{% extends "base.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block main %}
<div class="d-flex justify-content-center align-items-center vh-100" style="background-color: #E9ECEF">
    <div class="d-flex flex-column text-center bg-light shadow-sm border border-2 p-4">
        <form action="{{ url_for('auth.register') }}" method="post">
            <div class="container mb-4">
                <h1 class="fw-bold">Sign Up</h1>
            </div>
            <div class="container">
                <input autocomplete="off" type="text" name="username" class="form-control form-control-lg mb-4" placeholder="Username">
                <input autocomplete="off" type="text" name="email" class="form-control form-control-lg mb-4" placeholder="Email">
                <input autocomplete="off" type="password" name="password" class="form-control form-control-lg mb-4" placeholder="Password">
                <input autocomplete="off" type="password" name="repassword" class="form-control form-control-lg mb-4" placeholder="Password again">
            </div>
            <div class="container text-danger text-start">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            {% if message is mapping%}
                                {% for k, v in message.items() %}
                                    <span>{{ v[0] }}</span><br>
                                {% endfor %}
                            {% else %}
                                <span>{{ message }}</span>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <hr class="mx-5">
            <div class="container mb-1">
                <button class="btn btn-lg w-100 mb-3 text-white">Register</button>
            </div>
            <div class="container d-flex justify-content-center">
                Already have account? <a href="{{ url_for('auth.login')}}" class="mx-1">Sign In</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}