{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block main %}
<main class="d-flex min-vh-100 p-3 flex-column">
    <div class="title-row d-flex justify-content-center w-100 mb-4">
        <h1>Hi, {{ username }}.</h1>
    </div>
    <div class="mx-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Short URLs</th>
                    <th scope="col">Long URLs</th>
                    <th scope="col">Click counts</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Expire date</th>
                    <th scope="col">Last clicked at</th>
                </tr>
            </thead>
            <tbody>
                {% for data in url_data %}
                    <tr>
                        <td>{{ data['shorted_code'] }}</td>
                        <td class="text-break" style="max-width: 300px;">{{ data['url'] }}</td>
                        <td>{{ data['click_count'] }}</td>
                        <td>{{ data['created_at'] }}</td>
                        <td>{{ data['expire_at'] }}</td> 
                        <td>{{ data['last_clicked_at'] }}</td>                       
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}